.xxx-banner a {
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.xxx-banner img {
    transition: all 4s;
    max-width: 100%;
}

.xxx-banner:hover img {
    transform: scale(1.2);
}