.cell-delete {
    position: absolute;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

tr.ant-table-row.ant-table-row-level-0:hover td {
    background: lightblue !important;
}

tr.ant-table-row.ant-table-row-level-0:hover td:not(:last-child) {
    cursor: pointer;
}

.ant-table-thead>tr>.ant-table-selection-column {
    width: 50px;
    display: flex;
    justify-content: center;
    height: 77px;
    line-height: 77px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.order-status-label {
    margin-bottom: 0px!important
}

.order-required-label>div>label:before {
    display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
}

.ant-modal-body {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px!important;
    padding-top: 20px!important;
    ;
}

.ant-modal-content {
    display: inline-block;
}

.order-modal {
    width: 700px!important;
    top: 14px!important;
}