.cell-delete {
    position: absolute;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

tr.ant-table-row.ant-table-row-level-0:hover td {
    background: lightblue !important;
}

tr.ant-table-row.ant-table-row-level-0:hover td:not(:last-child) {
    cursor: pointer;
}

.ant-table-thead>tr>.ant-table-selection-column {
    width: 50px;
    display: flex;
    justify-content: center;
}

.order-status-label {
    margin-bottom: 0px!important
}

.order-required-label>div>label:before {
    display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
}