/* header */

.navbar {
    background-color: #494a48 !important;
}

.header-nav-link:after {
    display: block;
    content: "";
    border-bottom: solid 1px var(--nav-link-hover-color) !important;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.header-nav-link:hover:after {
    transform: scaleX(1);
}

.header-nav-icon:hover {
    transform: scale(1.2);
    transition: all 0.2s linear;
}

nav.main-nav li>a {
    text-transform: uppercase;
}

.fa-cart-shopping {
    width: 33px;
}

.fa-cart-shopping:after {
    content: attr(value);
    font-size: 13px;
    color: #fff;
    background: red;
    border-radius: 50%;
    padding: 2px 5px;
    position: relative;
    left: -8px;
    top: -10px;
    opacity: 0.9;
}

#drop-dowm-menu-user {
    left: -70px;
    top: 29px;
    background-color: #494a48!important;
    display: none;
    padding-top: 20px;
}

.icon-profile-header:hover #drop-dowm-menu-user {
    display: block;
    background-color: #494a48;
}

.drop-dowm-item-user {
    padding: 10px 20px;
    display: flex;
    width: 160px;
    text-transform: capitalize;
    background-color: #494a48;
    color: #f0f0f0;
}

.drop-dowm-item-user:hover {
    background-color: #f0f0f0;
    color: #494a48;
}