/* header */

.header-wrapper {
    background: var(--main-bg-nav-color);
    padding-top: 5px;
    padding-bottom: 5px;
    height: 60px;
}

.navbar {
    background-color: #494a48!important;
}

.header-nav-link {
    padding-bottom: 5px!important;
    border-bottom: 1px solid var(--main-bg-nav-color);
}

.header-nav-link:hover {
    border-color: var(--nav-link-hover-color)!important;
    transition: all 0.2s linear;
}

.header-nav-icon:hover {
    transform: scale(1.2);
    transition: all 0.2s linear;
}

nav.main-nav li>a {
    text-transform: uppercase;
}